@import 'tailwindcss';

@theme {
  --color-wall: var(--color-gray-950);

  --color-primary: var(--color-white);
  --color-secondary: var(--color-gray-500);
  --color-accent: var(--color-sky-500);

  --color-frame: var(--color-gray-700);
  --color-frame-hover: var(--color-gray-900);
  --color-button-hover: var(--color-sky-950);
  --color-switch-hover: var(--color-sky-700);
}

.outlined-button {
  @apply min-w-40 px-8 py-2 text-center   text-accent border border-accent   hover:bg-button-hover transition   cursor-pointer   outline-none focus:bg-button-hover;
}

.filled-button {
  @apply min-w-40 px-8 py-2 text-center   text-wall bg-accent    hover:bg-switch-hover transition   not-disabled:cursor-pointer disabled:bg-switch-hover   outline-none focus:bg-switch-hover;
}
